<h1>Painel de Medalhas</h1>
<h3>Atividade 1</h3>
<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Medalhas</th>
  </tr>
  <% @checkins.each do |checkin| %>
  <tr>
    <td><%= checkin %></td>

  </tr>
  <% end %>
</table>
