<h1>Painel de Medalhas</h1>

<br>
<br>


<h4>Atividade Lavar a Louça</h4>
<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Medalhas</th>
  </tr>
  <tr>
    <td>João</td>
    <td>4</td>
    <td>Bronze</td>
  </tr>
  <tr>
    <td>Marcelo</td>
    <td>6</td>
    <td>Prata</td>
  </tr>
</table>
<br>

  <h4>Atividade Programar em Rails</h4>
  <table class="table table-hover">
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Medalhas</th>
    </tr>
    <tr>
      <td>Eder</td>
      <td>10</td>
      <td>Ouro</td>
    </tr>
    <tr>
      <td>Antonio</td>
      <td>3</td>
      <td>Bronze</td>
    </tr>
  </table>

<br>

<h4>Preparar Almoço para Todos</h4>
<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Medalhas</th>
  </tr>
  <tr>
    <td>Antonio</td>
    <td>3</td>
    <td>Bronze</td>
  </tr>
  <tr>
    <td>Marcelo</td>
    <td>2</td>
    <td>Bronze</td>
  </tr>
  <tr>
    <td>Eder</td>
    <td>1</td>
    <td>-</td>
  </tr>

</table>

<br>
