<h1>Painel de Medalhas</h1>
<h3>Atividade 1</h3>
<table class="table table-hover">
  <tr>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Medalhas</th>
  </tr>
  <% checkins.each |checkin| do %>
  <tr>
    <td>Jill</td>
    <td>30</td>
    <td>Prata</td>
  </tr>
  <% end %>
</table>
